*~
/apack*.o
/apack*.obj
/apack*.exe
/apack.exe.good
/apack-1.00.zip
/apack-1.00.zip.tmp
/apack1p
/apack1pd
/apack1ps
/decimg
/decimg.exe
/wlink.err
/apackdos.bak
/apack2ida
/apack2ida.i64
/apack2ida.lst
/apack[12].tmp
/apack2o.tmp
/old/
/apack.re32
/apack.strings
/apack.syms
/apackr.nasm
/apackr2
